<% if @post.errors.any? %>
     <div>
          <p><%= pluralize(@post.errors.count, 'error') %> prevented this post from saving.</p>
          <ul>
               <% @post.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
               <% end %>
          </ul>
     </div>
<% end %>
