<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Marmelade", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% Category.all.each do |category| %>
        <li>
          <%= link_to category.name, posts_path(category: category.name) %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
