<!DOCTYPE html>
<html>
  <head>
    <title>Marmelade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application',
        media: 'all',
        'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
        'data-turbolinks-track': 'reload' %>
    <meta name="viewport"
          content="width=device-width,
          initial-scale=1,
          maximum-scale=1,
          user-scalable=no">
   </head>
  <body>
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
